body {margin-left: 10%;margin-right: 10%;}
h1 {
    text-align: center;
    color: #AE1A1F;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    line-height: 50px;
    font-size: 35px;
}

li {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    line-height: 2;
    color: #333;
    text-align: justify;
}

ul {list-style-type: circle;}

.blue {
    color: blue;
    text-decoration: none;
}

.red {
    color: #AE1A1F;
    text-decoration: none;
}